
<div>
  <h2 class='left'><%= @recipe.name %></h2>
  <form class='right' action="/recipes/<%= @recipe.id %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
    </div>
    <button type='submit'>Delete</button>
  </form>
</div>

<ul class="list-inline">
  Tags:<% @recipe.tags.each do |tag| %>
    <li><a href="/recipes/<%= @recipe.id %>/tags/<%= tag.id %>/edit"><%= tag.name %></a> | <a class='list-delete' href="/recipes/<%= @recipe.id %>/tags/<%= tag.id %>/delete">delete</a></li>
  <% end %>
</ul>

</span>


<a href="/recipes/<%= @recipe.id %>/edit">Update Recipe</a><br>
<a href="/recipes/<%= @recipe.id %>/tag/new">Add Tags</a>
<p>
  <%= @recipe.ingredients %>
</p>

<p>
  <%= @recipe.instructions %>
</p>


<a href="/recipes">Recipes</a>
