

<h1 class='left'><%= @recipe.name %> <a class='list-delete' href="/recipes/<%= @recipe.id %>/edit">Update Recipe</a> <a class='list-delete' href="/recipes/<%= @recipe.id %>/delete">delete</a> </h1>

  <!-- <form class='right' action="/recipes/<%= @recipe.id %>" method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="delete">
    </div>
    <button type='submit'>Delete</button>
  </form> -->
<ul class="list-inline">
  <li><% if @recipe.rating %>
    <p>Rating: <% @recipe.rating.times do %> <span class="glyphicon glyphicon-star-empty"></span> <% end %> <a class='list-delete' href="/recipes/<%= @recipe.id %>/rating/edit">edit</a></p>
  <% end %></li>
  <li><ul class="list-inline">
    Tags:<% @recipe.tags.each do |tag| %>
      <li><a href="/recipes/<%= @recipe.id %>/tags/<%= tag.id %>/edit"><%= tag.name %></a> | <a class='list-delete' href="/recipes/<%= @recipe.id %>/tags/<%= tag.id %>/delete"> Delete Tag</a></li>
    <% end %>
  |</ul></li>
  <li><a class='list-delete'href="/recipes/<%= @recipe.id %>/tag/new"> Add Tags</a></li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Ingredients</th>
      <th>Instructions</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ol>
        <% @ingredients.each do |i| %>
          <li><%= i.gsub(',', '' ).capitalize %></li>
        <% end %>
      </ol>


    </td>
    <td>

      <%= @recipe.instructions.capitalize %>
    </td>
  </tr>
  </tbody>
</table>
<% unless @recipe.rating %>
  <a href="/recipes/<%= @recipe.id %>/rating/new">Add Rating</a><br>
<% end %>
<br><br>


<a href="/recipes">Back</a>
