<h2><%= @recipe.name %></h2>
<form class="" action="/recipes/<%= @recipe.id %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="delete">
  </div>
  <button type='submit'>Delete</button>
</form>
<a href="/recipes/<%= @recipe.id %>/edit">Update Recipe</a>

<p>
  <%= @recipe.ingredients %>
</p>

<p>
  <%= @recipe.instructions %>
</p>


<a href="/recipes">Recipes</a>
